<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.fjmz.agt">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" /> <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/dargon108"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        tools:targetApi="n">

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/StartAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PasswordChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AudioRecordUtil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ClassDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PxksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EquipmentInspectionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EquipmentInspectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.JcbDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.CompanyListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DocumentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.GwSearch_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.DocumentReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.Gwsh_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.DutyDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.SafetyCheckActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ShowImageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <service
            android:name=".activity.NetworkStateService"
            android:enabled="true" />

        <activity
            android:name=".activity.YhzgUploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CameraTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.YhfcUploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AqjcCommitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommitTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.YhfcCommitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.YhzgCommitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.YhDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoPlayActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activity.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScanActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".util.DownloadIntentService"
            android:exported="false" />

    </application>

</manifest>